body {
    overflow-y: scroll;
}

.profile-mobile {
    grid-area: profile-mobile;
    width: 100%;
    height: 100%;
}

.profile-mobile__btns-payments {
    display: flex;
    flex-direction: column;
}

.profile-mobile__btns-payments a {
    color: #17181C;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px 20px;
    margin: 0 0 2% 0
}

.profile-mobile__btns-payments .deposit-button {
    background: #62D4B2;
    margin-top: 4%;
}

.withdraw-button {
    background: #EF4444;
}

.text-default-mobile h2, h3 {
    font-weight: 700;
    color: #fff;
}

.macroinfo-profile {
    margin: 5% 10% 0 10%;
    text-align: center;
}

.macroinfo-profile img {
    width: 55%;
    height: 100%;
    background: #969c8d;
    border-radius: 20px;
    padding: 2%;
}

.img-margin img {
    margin-top: 15px;
}

.macroinfo-profile h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Montserrat Alternates;
    font-size: 33px;
}

.header-off {
    pointer-events: none !important;
    filter: blur(15px) !important;
}

.info-profile {
    margin: 6% 10% 0 10%;
    text-align: center;
}

.info-profile .text-nickname-user {
    font-family: Montserrat;
    font-size: 2em;
}

.info-profile .balance-border {
    border-radius: 20px;
    width: 100%;
    background: #22252F;
}

.info-profile .balance-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-profile .balance-text {
    font-family: Montserrat Alternates;
    font-size: 28px;
}