body {
    overflow-y: scroll;
}

.header-mobile {
    height: 70%;
}

.content-grid__mobile-profile {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "header-mobile header-mobile header-mobile header-mobile"
    "profile-mobile profile-mobile profile-mobile profile-mobile"
    "profile-mobile profile-mobile profile-mobile profile-mobile"
    "footer-mobile footer-mobile footer-mobile footer-mobile";
    height: 100%;
    width: 100%;
}

.profile-mobile {
    grid-area: profile-mobile;
    width: 100%;
    height: 100%;
}

.profile-mobile__content {
    display: flex;
}

.profile-mobile__btns-payments {
    display: flex;
    flex-direction: column;
}

.profile-mobile__btns-payments a {
    display: flex;
    color: #17181C;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px 20px;
    margin: 0 0 5px 0
}

.profile-mobile__btns-payments .deposit-button {
    background: #62D4B2;
    margin-top: 10px;
}

.withdraw-button {
    background: #EF4444;
}

.text-default-mobile h2, h3 {
    font-weight: 700;
    color: #fff;
}

.macroinfo-profile {
    margin: 15px 0 0 20px;
}

.macroinfo-profile img {
    width: 197px;
    height: 197px;
}

.img-margin img {
    margin-top: 15px;
}

.macroinfo-profile h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Montserrat Alternates;
    font-size: 33px;
    line-height: 31px;
}

.info-profile {
    /*margin-left: 10%;*/
    margin: 12% 0 0 10%;
}

.info-profile .text-nickname-user {
    font-family: Montserrat;
    font-size: 2em;
}

.info-profile .balance-border {
    border-radius: 20px;
    width: 100%;
    background: #22252F;
}

.info-profile .balance-display {
    display: flex;
    align-items: center;
}

.info-profile .balance-text {
    font-family: Montserrat Alternates;
    font-size: 28px;
}

@media screen and (max-device-width: 415px) {
    .header-mobile {
        height: 45%;
    }
    .profile-mobile__content {
        margin-top: -10%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .macroinfo-profile {
        margin: 0;
    }
    .info-profile {
        margin: 0;
    }
}