/* Header */

.header-mobile {
    grid-area: header-mobile;
    border-radius: 20px;
    background: #17181C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 45%;
}

.header-mobile__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile__logo {
    padding: 6% 0 2.5% 4%;
}

.header-mobile__logo img {
    width: 85%;
}

.header-mobile__end {
    display: flex;
    align-items: center;
}

.header-mobile__balance--content {
    display: flex;
    align-items: center;
}

.header-mobile__card {
    border-radius: 7px;
    background: #22252F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-display h2 {
    display: flex;
    align-items: flex-end;
    padding: 13% 15px 13% 6%;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-text {
    color: #FFF;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 13px;
}

.btn-card {
    border-radius: 13px;
    background: #EF4444;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 4px;
}

.btn-card img {

    width: 90%;
    height: 40px;
}

.btn-card__margin {
    margin-left: -1%;
}

.header-mobile__user-icon {
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 70%;
    margin-left: 15px;
}

/* /Header */