/* Footer */

.footer-mobile {
    grid-area: footer-mobile;
    width: 100%;
    height: 10%;
    background: #17181C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0;
}

.footer-mobile__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.icons-size img {
    width: 10%;
}

.footer-mobile__icons  {
    margin: 2% 0;
    width: 100%;
}

.icon-end {
    margin-left: 1.5em;
}

.icon-center {
    margin-left: 9%;
}

/* /Footer */