.menu {
    margin: 4% 6% 0% 6%;
    height: 99.5vh;
    user-select: none;
}

.menu__content {
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

.menu__content--jackpot-icon{
    margin-left: -5px;
    transition: 250ms;
    width: 125%;
    height: 125%;
}

.menu__content--jackpot-icon:hover {
    margin-left: -15px;
    width: 175%;
    height: 175%;
}

.menu__content--chest-icon {
    margin-left: -1px;
    transition: 250ms;
    width: 80px;
    height: 80px;
}

.menu__content--chest-icon:hover {
    margin-left: -2px;
    height: 100px;
    width: 100px;
}

.menu__btn--home {
    margin-top: 12%;
}

.menu__btns--gamemodes {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.fotosloti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.1vh;
}
.fotosloti a img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}
.menu__content--gamemodes {
    background: rgba(217, 217, 217, 0.12);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.menu__content--slots-icon {
    margin-left: 5px
}

.menu__content--cruch-icon {
    margin-left: 6px;
    transition: 250ms;
    width: 100%;
    height: 100%;
}

.menu__content--cruch-icon:hover {
    margin-left: 0px;
    width: 125%;
    height: 125%;
}

.menu__content--bomb-icon {
    margin-left: 6px;
    width: 100%;
    height: 100%;
    transition: 250ms;
}

.menu__content--bomb-icon:hover {
    margin-left: 0px;
    width: 125%;
    height: 125%;
}

.menu__content--gamemodes {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.menu__content--gamemodes a {
    padding: 35% 7%;
}

.menu__content--gamemodes a img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu__btn--settings {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.2%;
}