::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #EF4444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.chat {
    margin: 1% 3.2% 0 0;
    word-break: break-all;
}

.chat__content {
    width: 30%;
}

.chat__container--title {
    display: flex;
    user-select: none;
}

.chat__title {
    margin: 16% 0 0 23%;
}

.chat__container--title h2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 700;
}
.chat__mute-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
/* .content p {
    width: 80%;
    word-wrap: break-word;
    margin: 0 auto;
} */

.content p {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.chat__content--users {
    /* height: 590px; */
    height: 70vh;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
}

.chat__content,
.chat__content--users {
    box-sizing: border-box;
}

.chat__content--users {
    margin: 0;
}

.card__user {
    margin: 8.8% 7.4% 0px 5%;
    display: flex;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s, transform 0.1s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.user__icon {
    display: flex;
}

.user__icon img {
    width: 40px;
    height: 40px;
}

.content {
    margin-left: 4%;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    font-family: Montserrat;
}

.content p {
    margin-top: 2%;
}

.write {
    position: absolute;
    bottom: 0;
    margin: 24% 87% 6% 6%;
    user-select: none;
    /* width: 50%; */
    width: 90%;
}

.write__content {
    display: flex;
    align-items: center;
}

.write__content input {
    padding: 14px 25% 14px 12px;
    border-radius: 13px;
    background: #66ff00;
    color: #A9A99D;
    border: none;
}

/* .write__content textarea {
    padding: 14px 25% 14px 12px;
    border-radius: 13px;
    background: #22252F;
    color: #A9A99D;
    border: none;
} */
/* .write__content textarea {
    padding: 14px 12px;
    border-radius: 13px;
    background: #22252F;
    color: #A9A99D;
    border: none;
    width: 600px;
    box-sizing: border-box;
    resize: vertical;
} */

.write__content textarea {
    padding: 14px 12px;
    border-radius: 13px;
    background: #ffffff;
    color: #A9A99D;
    border: none;
    width: 600px;
    box-sizing: border-box;
    resize: none;
}

.write__content textarea:focus {
    outline: none;
}

.write__content input::placeholder {
    color: #A9A99D;
    font-weight: 800;
    font-family: Montserrat;
    font-size: 12px;
}

.write__content button {
    padding: 8px 9px;
    /* margin-left: -20%; */
    margin-right: -5%;
    border-radius: 6px;
    background: #33ff00;
    border: none;
    cursor: pointer;
}

.write__content button:disabled {
    cursor: not-allowed;
}

.system-message {
    background-color: rgb(0, 255, 13);
}

.mention-message {
    background-color: rgb(255, 227, 171);
}