.card {
    width: 422px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 3px solid #595959 ;
    border-color: #595959;
    background-color: #742271;
    

}
.text {
    width: 211px;
    height: 269px;
 
}
.aboutinfo {
    margin-top: 5vh;
    margin-left: 15px;
  
}
.aboutinfo p {
    font-family: 'Montserrat';
    color: white;
    font-size: 14px;
    
    width: 97px;
    height: 19px;
   
    
}
.aboutinfo h1 {
    font-family: 'Montserrat';
    color: white;
    font-size: 34px;
}
.whatjob {
    display: flex;
    width: 206px;
    height: 16px;
    background-color: rgb(0, 255, 255);
    margin-left: 15px;
}
.whatjob img {
    width: 15px;
    height: 17px;
}
.icons {
    width: 162px;
    height: 36px; 
    
    display: flex;
    
    margin-top: 100px;
    margin-left: 10px;
    
}
.icons img {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    
    
}
