.header {
    margin-top: 0.4%;
    user-select: none;
}

.header__content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.header__logo {
    padding: 1.8% 0 1.2% 2.6%;
}

.header__logo img {
    cursor: pointer;
}

.header__nav nav a {
    text-decoration: none;
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-size: 18px;
    margin-right: 3em;
}

.header__nav--now {
    color: #EF4444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.header__nav--now::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #EF4444;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    bottom: -7px;
    left: 0;
    z-index: 1;
}

.header__content--balance {
    display: flex;
    align-items: center;
}

.header__card--balance {
    border-radius: 9px;
    background: #22252F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 15px 8px 8px;
}

.header__content--balance .header__card--balance h2 {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat Alternates;;
}

.header__content--balance .header__card--balance h2 img {
    margin-right: 7px;
}

.header__btn--wallet a {
    border-radius: 13px;
    background: #EF4444;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Montserrat;
    padding: 20px 23px 20px 23px;
    text-decoration: none;
    margin-left: -15%;
}

.header__auth--discord {
    display: flex;
    margin-right: 1.4%;
    width: 10%;
}

.header__card--discord {
    display: flex;
    align-items: center;
}

.discord__card--name {
    margin-right: 5%;
}

.discord__card--name h2 {
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: 700;
}

.discord__card--name a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
    font-weight: 700;
    font-family: Montserrat;
    border-radius: 8px;
    background: #30323E;
    text-decoration: none;
    padding: 6px 2px 6px 2px;
    width: 75px;
}

.discord__card--name a span img {
    margin-left: 15%;
    display: flex;
}

.header__card--discord img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__card--auth {
    display: flex;
    align-items: center;
}

.auth__card--content a {
    display: flex;
    align-items: center;
    border-radius: 13px;
    background: #5865f2;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    padding: 11px 26px 11px 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.auth__card--content a span img {
    margin: 8% 5px 0 0;
}