.box_help {
    margin-left: 36px;
    margin-top: 35px;
}
.Heading_p1 {
    font-size: 18px ;
    font-family: Montserrat Alternates;
    text-decoration: none;
}
.heding2 {

}
.heding2_text {
    width: 949px;
    height: 132px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.Heading_p1 a {
    color: #5865F2 ;
    font-family: Montserrat Alternates;
    text-decoration: none;
}
.questions {
    font-size: 18px ;
    font-family: Montserrat Alternates;
    text-decoration: none;
}
.questions1  {
    font-size: 18px ;
    font-family: Montserrat Alternates;
    text-decoration: none;
    background-color:#3f3f3f;
    width: 426px;
    height: 30px;
    border-radius: 8px ;
    justify-content: center;
    align-content: center;
    display: flex;
}
.questions1 b {
    margin-top: 4.3px;
}
.questions1 img {
   margin-left: 30px;
   width: 16px;
   margin-top: 6px;
}
.text_questions {
    width: 840px;
    height: 132px;
    font-size: 18px ;
    font-family: Montserrat Alternates;
    text-decoration: none;
    
}
.text_questions p {
    font-size: 18px ;
    font-family: Montserrat Alternates;
    text-decoration: none;
}
.questions2 {
    font-size: 18px ;
    font-family: Montserrat Alternates;
    text-decoration: none;
    width: 544px;
    height: 27px;
    
    
    align-items: flex-start;
    display: flex;
}
.questions2 img {
margin-left: 10px;
width: 16px;
margin-top: 3.5px;

}
.Social1text  {
    margin-top: 0.5vh;
    font-family: Montserrat Alternates;
}
.Social1where {
    flex-direction: row;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 3vh;
}

@media (max-height: 879px) {
    .Social1where {
        margin-top: 0; 
    }
}
.questions_box {
    margin-bottom: 24px;
}
.text_questions {
    margin-left: 110px;
}
.questions1 {
    margin-bottom: 20px;
}
.questions2 {
    margin-top: 25px;
    margin-right:40px ;
}
