.payment-modal {
    position: absolute;
    top: 20%;
    left: 35%;
}

.payments-modal__content {
    background: #000;
    width: 400px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.payments-modal__content button {
    background: #fff;
    border: none;
    color: #ff0000;
    width: 40px;
    height: 40px;
    font-size: 40px;
    cursor: pointer;
}