.payment-modal {
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 25px;
    background: #22252F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 390px;
    height: 420px;
}

.payments-modal__content {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.close-modal__icon img {
    margin: 21px 22px 0 0;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-styles__margin h1 {
    margin: 16px 0 0 26px;
}

.payments-modal__content h1 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-family: Montserrat Alternates;
    font-size: 20px;
}

.payments-modal__deposit {
    margin-left: 26px;
}

.deposit-text h3 {
    color: rgba(68, 198, 239, 0.33);
    font-weight: 700;
    line-height: 31px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 12px;
    margin-top: -10px;
}

.deposit-icon-diamond img {
    position: absolute;
    top: 16%;
    left: 10%;
}

.deposit-icon__input .promo-input,
.deposit-icon__input .deposit-amount__input,
.withdraw-input .with-input{
    width: 350px;
    height: 44px;
    border-radius: 15px;
    border: 2px solid #2B3458;
    background: #22252F;
    color: rgba(148, 148, 148, 0.95);
    font-weight: 700;
    font-family: Montserrat Alternates;
    font-size: 12px;
    padding-left: 40px;
}

.display-btns {
    display: flex;
    margin-top: 10px;
}

.btns-style-diamonds button {
    border-radius: 10px;
    background: #252C47;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-weight: 700;
    line-height: 31px;
    font-family: Montserrat Alternates;
    font-size: 12px;
    border: none;
    margin-right: 6px;
    padding: 4px 19px;
}

.deposit-promocode {
    margin-top: 15px;
}

.deposit-promocode__padding--input input {
    padding-left: 15px;
}

.deposit-checkbox {
    display: flex;
    margin-top: 11px;
}

.withdraw-checkbox {
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.withdraw-checkbox h3 {
    margin: 0 0 0 5px;
}

.checkbox-styles input[type="checkbox"] {
    background: #22252F;
    border-radius: 8px;
    border: 2px solid #2B3458;
    width: 25px;
    height: 25px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="checkbox"]:checked::before {
    content: '\2713';
    font-weight: 700;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 22px;
    color: #fff;
}

.deposit-checkbox h3 {
    margin: 0 0 0 10px;
}

.btn-deposit,
.btn-withdraw {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10% 6% 0 0;
}

.btn-display-deposit {
    display: flex;
    flex-direction: column;
}

.btn-text-style p {
    color: #949494F2;
    font-weight: 700;
    font-family: Montserrat Alternates;
    font-size: 7.5px;
    margin: 5px 0;
}

.btn-style-payments button {
    border-radius: 10px;
    background: #EF4444;
    ont-family: Montserrat Alternates;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 19px;
    padding: 22px 120px;
    border: none;
}

.btn-style-payments button:disabled {
    background: #3d3a3a;
}

.btn-click {
    border-radius: 10px !important;
    background: #EF4444 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

/* Withdraw */

.withdraw-modal {
    height: 520px;
}

.payments-modal__withdraw {
    margin-left: 26px;
}

.error-checkbox {
    position: absolute;
}

.error-checkbox h2 {
    font-size: 13px;
    font-weight: 700;
    color: #BA3636;
    font-family: "Montserrat Alternates";
}

.error-promocode {
    position: absolute;
    left: 49%;
    top: 35%;
}

.error-promocode .error-text__promocode {
    font-size: 11px;
    font-weight: 700;
    color: #BA3636;
    font-family: "Montserrat Alternates";
    margin-left: 55px;
}

.error-promocode .correct-text__promocode {
    font-size: 11px;
    font-weight: 700;
    color: #3BA44C;
    font-family: "Montserrat Alternates";
}

.checkbox-styles input:disabled:hover {
    animation: shake 0.6s cubic-bezier(.36, .07, .19, .97);
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-4px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(4px);
    }
}

.number-card {
    margin-top: 15px;
}

.btn-withdraw {
    margin-top: 15%;
}

/* /Withdraw */

/* Captcha Styles */

.captcha-withdraw {
    position: relative;
    left: 20px;
    top: 15px;
}

/* /Captcha Styles */