/* Main */

.main {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    background: #EF4444;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main__content {
    text-align: center;
    color: #FFF;
}

.main__content h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 -25px 0;
}

.main__content h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 91px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__content h4 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

@keyframes RaindowAnimate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}

.main__content h4 span {
    animation: RaindowAnimate 5s infinite;
    animation-delay: 5s;
}

/* /Main */