/* Main */

.main {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    background: #EF4444;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main__content {
    text-align: center;
    color: #FFF;
}

.main__content h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    margin: 3% 0 -3% 0;
}

.main__content h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 91px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__content h4 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

@keyframes RaindowAnimate {
    from {
        color: #6EEB21;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6EEB21;
    }
}

.default__text--main__block {
    color: #6EEB21;
}

.animate__text--main__block {
    animation: RaindowAnimate 5s infinite;
    animation-delay: 5s;
}

/* /Main */

/* GameMode */

.gamemode__content--text h2 {
    margin: 1.2% 0 .5% 8%;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
}

.gamemode__content--text div {
    width: 82%;
    margin-left: 8%;
    border: 1px solid #fff;
}

.gamemode__content--card {
    display: flex;
    margin-top: 1.2%;
}

.bg-card {
    border-radius: 40px;
    background: #EF4444;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bg-early{
    border-radius: 40px;
    background: #969B9E;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gamemode__main {
    width: 32%;
    height: 100%;
    margin-left: 8%;
}

.gamemode__main .line__content1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gamemode__main .content {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.title-firstline {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size:91px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.title-jackpot {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size:80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px 28px;
}

.line__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5.5%;
}

.line__content .line__btn--main .line__btn {
    top: 2.5em;
    left: -2em;
    width: 100%;
}

.line__footer img {
    margin-bottom: 5%;
}

.gamemode__lines {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.gamemode__firstline {
    margin: 0 0 0 5%;
}

.line__img {
    display: flex;
    margin:  1% 6.6% 1% 4.7%;
}

.line__img__jackpot {
    display: flex;
    margin:  1% 6.6% 1% 0%;
}

.display-firstline {
    display: flex;
}

.cumming_soon_btn {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 36px;
    font-weight: 700;
    padding: 11px 0px 11px 11px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 5%;
    left: 2%;
    transition: 250ms;
    cursor: default;
}

.cumming_soon_btn:hover {
    background-color: #525252;
    opacity: 0.75;
}

.line__btn {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 36px;
    font-weight: 700;
    padding: 11px 0px 11px 11px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 5%;
    left: 2%;
    transition: 250ms;
}

.line__btn span:after {
    content: '\00bb';
    opacity: 0;
    transition: 250ms;
    right: 20;
  }

.line__btn:hover span:after {
    opacity: 1;
    right: 0;
    padding-right: 0px;
  }

.line__btn:hover {
    padding:11px 11px 11px 22px ;
  }

.line__btn:active {
    left: 5%;
  }

.line__btn--crash {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 36px;
    font-weight: 700;
    padding: 11px 0px 11px 11px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 5%;
    left: 2%;
    transition: 250ms;   
}

.line__btn--crash span:after {
    content: '\00bb';
    opacity: 0;
    transition: 250ms;
    right: 20;
  }

.line__btn--crash:hover span:after {
    opacity: 1;
    right: 0;
    padding-right: 0px;
  }

.line__btn--crash:hover {
    padding:11px 11px 11px 22px ;
  }

.line__btn--crash:active {
    left: 5%;
  }

.line__btn__jackpot {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 36px;
    font-weight: 700;
    padding: 11px 0px 11px 11px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 4%;
    left: 6%;
    transition: 250ms;
}

.line__btn__jackpot span:after {
    content: '\00bb';
    opacity: 0;
    transition: 250ms;
  }

.line__btn__jackpot:hover span:after {
    opacity: 1;
    right: 0;
    padding-right: 0px;
  }

.line__btn__jackpot:hover {
    padding:11px 11px 11px 22px ;
  }

  .line__btn__jackpot:active {
    left: 10%;
  }

.line__btn--elm {
    color: #000;
    font-size: 38px ;
}

.line__btn--elm--saper {
    color: #000;
    font-size: 4vh !important;
}

@media (max-width: 1590px) {
    .line__btn--elm--saper {
        font-size: 2vh !important;
        display: none;
    }
}

.linecontent-2 {
    display: flex;
    padding: 0.6% 0.6%;
}

.linecontent-2 h1 {
    margin-bottom: 7%;
}

.gamemode__twolines {
    display: flex;
    height: 100%;
    width: 100%;
}

.gamemode__twoline--first__element {
    width: 100%;
    margin: 2% 3.6% 0 5.5%;
    min-height: 180px;
}

.linecontent-3 {
    display: flex;
    justify-content: center;
}

.title-twoline {
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4.5% 2.2%;
}

.gamemode__twoline--first__element .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamemode__twoline--first__element .container a {
    margin-right: 10%;
    padding: 12px 10px;
    margin-bottom: 3%;
}

.gamemode__twoline--two__element {
    margin-top: 2%;
    width: 100%;
    min-height: 180px;
}

.gamemode__twoline--two__element .container {
    display: flex;
    justify-content: center;
}

.gamemode__twoline--two__element .container a {
    margin-right: 10%;
}

.cumming_soon--img {
    margin-bottom: 4%;
}

/* /GameMode */

/* Media */

@media only screen and (max-width:1800px) {
    .line__img__jackpot {
        width: 150px;
        height: 150px;
    }

    .line__footer img {
        width: 55%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width:1700px) {
    .title-jackpot {
        font-size:60px;
        padding: 0px 0px 0px 28px;
    }

    .title-twoline {
        font-size: 60px;
    }

    .line__img__jackpot {
        height: 150px;
        width: 150px;
    }

    .line__footer img {
        width: 40%;
        margin-bottom: 5%;
    }

    .line__content {
        width: 100%;
        height: 100%;
    }

    .line__btn {
        border-radius: 16px;
        font-size: 30px;
        padding: 11px 11px 11px 11px;
    }

    .main__content h1 {
        font-size: 70px;
    }

    .title-firstline {
        font-size:80px;
    }

    .cumming_soon_btn {
        font-size: 30px;
        border-radius: 16px;
    }

    .cumming_soon--img {
        height: 40px;
        width: 80px;
    }

    .gamemode__twoline--first__element .container a {
        margin-right: 10%;
        padding: 2px 11px 11px 11px;
        margin-bottom: 3%;
    }

    .line__btn__jackpot {
        border-radius: 16px;
        font-size: 30px;
    }

    .line__btn--crash {
        border-radius: 16px;
        font-size: 30px;
        padding: 7px 0px 11px 11px;
    }

    .crash--img {
        height: 60px;
        width: 60px;
    }

    .line__content {
        height: 354px;
    }
}