.jackpot-history__content {
    display: flex;
    max-width: 80%;
    max-height: 800px;
    overflow-y: auto;
    margin: 0 auto;
}

.jackpot-history__element {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
}

.element-info {
    display: flex;
    align-items: center;
}

.element-info .element-info__icon img {
    height: 50px;
}

.element-info .element-info__user-info {
    margin-left: 4px;
}

.element-info .element-info__user-info .username {
    color: #515D83;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
}

.element-info .element-info__user-info .user-deposit {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;

}

.element-info .element-info__user-info .img-width img {
    width: 16px;
    height: 16px;
}

.element-chance {
    margin-top: 10px;
}

.element-chance h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background: #27345C;
    border-radius: 7px;
}

.element-chance .chance-style {
    color: #EF4444;
    margin-left: 2px;
}