.top_panel {
    width: auto;
    height: 87px;
    background: #17181C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 105px;
    margin-top: 7px;
    margin-right: 4px;
}

.header_title {
    width: 220px;
    height: 36px;
    color: #FFF;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 22px;
    font-weight: 700;
    padding-left: 36px;
    margin-top: -16px;
}

.header_title_text {
    color: #EF4444;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 10px;
    font-weight: 800;
    width: 63px;
    height: 17px;
    padding-top: 22px;
    padding-left: 37px;
}

.left_panel {
    width: 88px;
    height: 97.5vh;
    background: #17181C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 8px;
    margin-top: -86px;
    margin-bottom: 4.5px;
}

.menu {
    display: flex;
    margin-left: 100px;
    margin-top: -70.5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.main_div {
    margin-left: 73px;
    margin-top: 16.5px;
}

.header_other_text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 700;
}

.header_other_text_menu {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 700;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.wallet_element_money {
    margin-top: 2px;
    background: #22252F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 55%;
    z-index: 4;
}

.wallet_element_image {
    margin-top: 8px;
}

.wallet_element_numbers {
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
    font-family: Montserrat Alternates;
}

.wallet_element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
    width: 55%;
    height: 10%;
    border-radius: 9px;
    background: #EF4444;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 45px;
    z-index: 5;
    margin-left: -8px;
}

.wallet_elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wallet_text {
    margin-inline: 10px;
}

.login_start {
    display: flex;
    justify-content: flex-end;
}
