.chat {
    margin: 9px 12px 0px 0px;
}

.chat__content {
    width: 30%;
}

.chat__container--title {
    display: flex;
    align-items: center;
    text-align: center;
    user-select: none;
}

.chat__title {
    width: 100%;
    margin: 13px 0px 0px 16px;
    border-radius: 8px;
    background: #30323E;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.chat__container--title h2 {
    padding: 3px 11px 6px 7px;
    color: #A9A99D;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat Alternates;
    font-size: 18px;
}

.content p {
    width: 80%;
    word-wrap: break-word;
    margin: 0 auto;
}

.chat__icon {
    margin-top: 10px;
    margin-left: -2px;
    padding: 6px 6px 6px 7px;
    border-radius: 6px;
    background: #3D3F48;
}

.chat__content--users {
    height: 70%;
}

.card__user {
    margin-top: 24px;
    margin: 24px 70px 0px 23px;
    display: flex;
}

.user__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    font-family: Montserrat;
}

.content p {
    margin-top: 5px;
}

.write {
    position: absolute;
    bottom: 0;
    margin: 24px 87px 22px 16px;
    user-select: none;
    width: 50%;
}

.write__content {
    display: flex;
    align-items: center;
    text-align: center;
}

.write__content input {
    padding: 14px 35% 14px 12px;
    border-radius: 13px;
    background: #22252F;
    color: #A9A99D;
    border: none;
}

.write__content input::placeholder {
    color: #A9A99D;
    font-weight: 800;
    font-family: Montserrat;
    font-size: 12px;
}

.write__content button {
    padding: 8px 9px;
    margin-left: -20px;
    border-radius: 6px;
    background: #3D3F48;
    border: none;
    cursor: pointer;
}

.write__content button:disabled {
    cursor: not-allowed;
}