/* Global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

ul {
    list-style: none;
}

body, html {
    background: #121212;
}

/* /Global Settings */

/* Content Grid */

.content-grid {
    display: grid;
    grid-template-areas:
    'menu header header header header header'
    'menu main main main main chat'
    'menu main main main main chat'
    'menu gamemode gamemode gamemode gamemode chat'
    'menu gamemode gamemode gamemode gamemode chat';
}

/* /Content Grid */

/* Header */

.header {
    grid-area: header;
}

/* /Header */

/* Menu */

.menu {
    grid-area: menu;
}

/* /Menu */

/* Chat */

.chat {
    grid-area: chat;
}

/* /Chat */

/* Main */

.main {
    grid-area: main;
}

/* /Main */

/* GameMode */

.gamemode {
    grid-area: gamemode;
}

/* /GameMode */