.crash-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "crashgame crashgame crashgame crashgame crashgame crashgame"
    "crashgame crashgame crashgame crashgame crashgame crashgame"
    "crashgame crashgame crashgame crashgame crashgame crashgame"
    "crashplayers crashplayers crashplayers crashplayers crashplayers crashplayers"
    "crashplayers crashplayers crashplayers crashplayers crashplayers crashplayers";
    background: #17181C;
    box-shadow: 0 4px #00000040;
    border-radius: 20px;
}

.crash-game {
    background: #22252F;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px #00000040;
    width: 95%;
    height: 475px;
    margin: 41px auto 0 auto;
}

.crash-game__content {
    display: flex;
}

/* Crash-Window */

.crash-game__start-window {
    margin-left: 30px;
    height: 0;
}

.crash-game__start-window .crash__game-name {
    margin: 62px 0 2px 0;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    box-shadow: 1px 1px 1px 0px #00000001;
}

.crash-game__start-window p {
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF85;
}

.crash-game-window__inputs {
    margin-top: 29px;
}

.crash-label {
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 13px;
    color: #44C6EF54;
    margin: 0 0 4px 4px;
}

.input-style-crash {
    width: 347px;
    height: 40px;
    border: 2px solid #2B3458;
    border-radius: 15px;
    background: #22252F;
}

.diamond-input-crash {
    margin-left: -25px;
}

.input-style-crash__text {
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    padding-left: 35px;
}

.crash-input-deposit .diamonds-btns__display {
    margin: 8px 0 19px -22px;
}

.crash-input-deposit #max-button {
    padding: 4px 10px;
}

.crash-input-deposit .diamond-icon {
    left: 12px;
}

.crash-game-window__btn-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}

.crash-game-window__btn-start button {
    margin-bottom: 5px;
    background: #EF4444;
    border: unset;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 16px;
}

.crash-window__line {
    display: flex;
    flex-direction: row-reverse;
}

.line-crash {
    width: 2px;
    height: 474px;
    background: #30364F;
    position: relative;
    top: -342px;
    left: 10%;
    z-index: 1;
}

.crash-content .error-block {
    top: 420px;
}

/* /Crash-Window */

/* Crash-Graph */

.crash-game__graph {
    width: 800px;
    top: 200px;
    left: 600px;
    position: fixed;
}


.chart-container canvas {
    background-color: transparent !important;
    width: 800px !important;
    height: 400px !important;
    transition: .3s ease;
}

.lost-ratio {
    color: #EF4444;
    font-weight: 700;
}

/* /Crash-Graph */

/* Crash-Players */

.crash-game__players {
    z-index: 2;
    background: #22252F;
    height: 91%;
    width: 95%;
    margin: 0 auto;
    border-radius: 20px;
}

.crash-game-players__content {
    background: #1D1F24;
    border-radius: 15px;
    width: 98%;
    height: 270px;
    margin: 20px auto 0 auto;
    overflow-y: auto;
}

.user-list {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
    flex-direction: row;
}

.user-crash {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    width: 300px;
}

.user-crash__icon {
    width: 40px;
    height: 40px;
}

.user-crash__content {
    display: flex;
    align-items: center;
}

.user-crash__content .user-name-crash {
    color: #61647F;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}

.user-crah__status {
    display: flex;
    align-items: center;
}

.status-balance {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
}

.status-balance .user-bid-crash {
    margin: 0 5px 0 30px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    color: #848484;
}

.status-balance img {
    margin-top: 7px;
}

.status-game-user {
    margin-left: 5%;
}

.status-game-user__style {
    margin-right: 15px;
    color: #61647F;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    padding: 2px 4px;
    background: #22252F;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
}

.lose-game-crash {
    color: #fff !important;
    background: #EF4847 !important;
}

.win-status-crash {
    display: flex;
    align-items: center;
}

.win-status-crash .win-text-crash {
    color: #28BD49;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Montserrat';
    text-align: center;
    background: #1D1F24;
    border: 1px solid #28BD49;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 2px 4px;
}

.user-win-money {
    margin: 0 5px 0 15px;
    color: #28BD49;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.win-status-crash img {
    margin-top: 7px;
}

/* /Crash-Players */

/* Notification */

.notification-crash {
    text-align: center;
    top: 20%;
    left: 50%;
    position: absolute;
    background: #000;
    width: 200px;
    height: 40px;
}

/* /Notification */

/* Media */

@media screen and (max-width: 1740px) and (min-width: 1400px) {
    .crash-content .error-block {
        top: 410px;
    }
    .crash-game__graph {
        width: 500px;
        height: 500px;
        top: 190px;
        left: 570px;
    }
    .crash-input-deposit .btn-style__diamonds button {
        padding: 4px 18px !important;
    }
    .chart-container {
        width: 500px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .header__nav nav a {
        font-size: 16px;
    }
    .crash-content .error-block {
        top: 400px;
    }
    .crash-game__graph {
        width: 400px;
        height: 400px;
        top: 180px;
        left: 550px;
    }
    .chart-container {
        width: 400px !important;
        height: 400px !important;
    }
    .crash-input-deposit .btn-style__diamonds button {
        padding: 4px 18px !important;
    }
}

/* /Media */