.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  width: 1881px;
  height: 964px;
  position: relative;
  overflow: hidden;
}
. {
  background: #161924;
  width: 1794px;
  height: 964px;
  position: absolute;
  left: 88px;
  top: 0px;
}
.rectangle-1 {
  background: #161924;
  width: 1790px;
  height: 964px;
  position: absolute;
  left: 92px;
  top: 48px;
}
.vector-1 {
  position: absolute;
  left: 92px;
  top: 48px;
  overflow: visible;
}
.vector-2 {
  position: absolute;
  left: 1527.19px;
  top: 440.97px;
  transform: translate(-1527.19px, -440.97px);
  overflow: visible;
}
.2 {
  border-radius: 27px;
  width: 1276px;
  height: 299px;
  position: absolute;
  left: 134px;
  top: 132px;
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-30 {
  background: #1d202b;
  width: 88px;
  height: 964.5px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.lucky-diamond {
  color: #ffb400;
  text-align: left;
  font: 700 91px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 172px;
  top: 132px;
  width: 1118px;
  height: 299px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.minecraft-casino-spm {
  color: #ffb400;
  text-align: left;
  font: 700 24px "Montserrat", sans-serif;
  position: absolute;
  left: 481px;
  top: 314px;
  width: 384px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.3 {
  color: #ffb400;
  text-align: left;
  font: 700 32px "Montserrat", sans-serif;
  position: absolute;
  left: 502px;
  top: 174px;
  width: 270px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.4 {
  width: 324px;
  height: 322px;
  position: absolute;
  left: 1048px;
  top: 109px;
}
.5 {
  position: absolute;
  inset: 0;
}
.6 {
  border-radius: 26px;
  width: 400px;
  height: 212px;
  position: absolute;
  left: 572px;
  top: 498px;
}
.double-game {
  color: #ffb400;
  text-align: left;
  font: 700 36px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 590px;
  top: 604px;
  width: 168px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-14 {
  background: #ffb400;
  border-radius: 21px;
  width: 137px;
  height: 60px;
  position: absolute;
  left: 808px;
  top: 631px;
  box-shadow: 0px 4px 40px 1px rgba(255, 180, 0, 1);
}
.play {
  color: #000000;
  text-align: left;
  font: 700 24px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 824px;
  top: 631px;
  width: 105px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-arrow-1 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 908px;
  top: 651px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.7 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 584px;
  top: 509px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._34-player {
  color: #ffb400;
  text-align: left;
  font: 700 20px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 622px;
  top: 518px;
  width: 122px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dice-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 916px;
  top: 500px;
}
.8 {
  border-radius: 26px;
  width: 400px;
  height: 212px;
  position: absolute;
  left: 1010px;
  top: 495px;
}
.rectangle-142 {
  background: #ffb400;
  border-radius: 21px;
  width: 137px;
  height: 60px;
  position: absolute;
  left: 1259px;
  top: 631px;
  box-shadow: 0px 4px 40px 1px rgba(255, 180, 0, 1);
}
.play2 {
  color: #000000;
  text-align: left;
  font: 700 24px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1275px;
  top: 631px;
  width: 105px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-arrow-12 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1359px;
  top: 651px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.jacpot-game {
  color: #ffb400;
  text-align: left;
  font: 700 36px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1032px;
  top: 604px;
  width: 168px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.9 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1024px;
  top: 509px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._53-player {
  color: #ffb400;
  text-align: left;
  font: 700 20px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1062px;
  top: 518px;
  width: 122px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.jackpot-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1346px;
  top: 495px;
}
.10 {
  border-radius: 26px;
  width: 400px;
  height: 206px;
  position: absolute;
  left: 1010px;
  top: 730px;
}
.rectangle-143 {
  background: #ffb400;
  border-radius: 21px;
  width: 137px;
  height: 60px;
  position: absolute;
  left: 1259px;
  top: 860px;
  box-shadow: 0px 4px 40px 1px rgba(255, 180, 0, 1);
}
.play3 {
  color: #000000;
  text-align: left;
  font: 700 24px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1275px;
  top: 860px;
  width: 105px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-arrow-13 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1359px;
  top: 880px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.11 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1024px;
  top: 739px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._14-player {
  color: #ffb400;
  text-align: left;
  font: 700 20px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1062px;
  top: 748px;
  width: 122px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mines-game {
  color: #ffb400;
  text-align: left;
  font: 700 36px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1024px;
  top: 833px;
  width: 168px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bomb-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1355px;
  top: 735px;
}
.12 {
  border-radius: 26px;
  width: 400px;
  height: 438px;
  position: absolute;
  left: 534px;
  top: 936px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.slots {
  color: #ffb400;
  text-align: center;
  font: 700 64px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 150px;
  top: 498px;
  width: 367px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-144 {
  background: #ffb400;
  border-radius: 21px;
  width: 185px;
  height: 92px;
  position: absolute;
  left: 241px;
  top: 828px;
  box-shadow: 0px 4px 40px 1px rgba(255, 180, 0, 1);
}
.play4 {
  color: #000000;
  text-align: left;
  font: 700 36px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 262.61px;
  top: 828px;
  width: 141.79px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-arrow-14 {
  width: 33px;
  height: 38px;
  position: absolute;
  left: 374px;
  top: 857px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.diamond-1 {
  width: 242px;
  height: 242px;
  position: absolute;
  left: 199px;
  top: 583px;
}
.13 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 254px;
  top: 781px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._126-player {
  color: #ffb400;
  text-align: left;
  font: 700 20px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 292px;
  top: 790px;
  width: 122px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.14 {
  color: #ffb400;
  text-align: left;
  font: 700 18px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 562px;
  top: 38px;
  width: 87px;
  height: 17px;
}
.15 {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 724px;
  top: 38px;
  width: 91px;
  height: 17px;
}
.16 {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 890px;
  top: 38px;
  width: 84px;
  height: 17px;
}
.line-1 {
  position: absolute;
  left: 564px;
  top: 62px;
  overflow: visible;
}
.rectangle-15 {
  background: #22252f;
  border-radius: 9px;
  width: 139px;
  height: 48px;
  position: absolute;
  left: 1166px;
  top: 19px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-16 {
  background: #ffb400;
  border-radius: 13px;
  width: 134px;
  height: 54px;
  position: absolute;
  left: 1273px;
  top: 16px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._25000 {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1207px;
  top: 35px;
  width: 59px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.17 {
  color: #000000;
  text-align: left;
  font: 600 16px "Montserrat", sans-serif;
  position: absolute;
  left: 1296px;
  top: 36px;
  width: 88px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lucky-diamond2 {
  color: #b6aaaa;
  text-align: left;
  font: 700 22px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 133px;
  top: 37px;
  width: 220px;
  height: 36px;
}
.play-now {
  color: #ffb400;
  text-align: left;
  font: 800 10px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 136px;
  top: 26px;
  width: 63px;
  height: 17px;
}
.18 {
  border-radius: 26px;
  width: 400px;
  height: 206px;
  position: absolute;
  left: 572px;
  top: 730px;
}
.19 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 584px;
  top: 743px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._68-player {
  color: #ffb400;
  text-align: left;
  font: 700 20px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 622px;
  top: 752px;
  width: 122px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.crash-game {
  color: #ffb400;
  text-align: left;
  font: 700 36px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 590px;
  top: 833px;
  width: 168px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-145 {
  background: #ffb400;
  border-radius: 21px;
  width: 137px;
  height: 60px;
  position: absolute;
  left: 808px;
  top: 860px;
  box-shadow: 0px 4px 40px 1px rgba(255, 180, 0, 1);
}
.play5 {
  color: #000000;
  text-align: left;
  font: 700 24px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 824px;
  top: 860px;
  width: 105px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.free-icon-rocket-launch-3384333-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 916px;
  top: 740px;
}
.right-arrow-15 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 908px;
  top: 880px;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.20 {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Montserrat", sans-serif;
  position: absolute;
  left: 134px;
  top: 461px;
  width: 175px;
  height: 21px;
}
.deepslate-diamond-ore-29-1 {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 1173px;
  top: 29px;
}
.diamond-2 {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 16px;
  top: 186px;
}
.dice-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 432px;
}
.graph-bar-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 898px;
}
.free-icon-rocket-launch-3384333-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 347px;
}
.jackpot-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 262px;
}
.free-icon-home-button-6490332-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 26px;
}
.bomb-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 519px;
}
.rectangle-29 {
  background: #1d202b;
  border-radius: 10px;
  width: 421px;
  height: 154.08px;
  position: absolute;
  left: 1460px;
  top: 0px;
  box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-27 {
  background: #161924;
  border-radius: 7px;
  width: 78.19px;
  height: 46.02px;
  position: absolute;
  left: 1785.77px;
  top: 21.01px;
}
.rectangle-20 {
  border-radius: 0px;
  position: absolute;
  left: 1460px;
  top: 158px;
  overflow: visible;
}
.21 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1547.21px;
  top: 746px;
  width: 278.66px;
  height: 40.36px;
}
.22 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 657px;
  width: 239.57px;
  height: 13px;
}
._282 {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Montserrat", sans-serif;
  position: absolute;
  left: 1814.84px;
  top: 109.06px;
  width: 46.11px;
  height: 18.01px;
}
.23 {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Montserrat", sans-serif;
  position: absolute;
  left: 1476.04px;
  top: 109.06px;
  width: 123.29px;
  height: 28.01px;
}
.artemka {
  color: #ffffff;
  text-align: left;
  font: 700 15px "Montserrat", sans-serif;
  position: absolute;
  left: 1543.2px;
  top: 27.01px;
  width: 84.2px;
  height: 15.01px;
}
.24 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 585px;
  width: 239.57px;
  height: 13px;
}
.25 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 419px;
  width: 239.57px;
  height: 13px;
}
._64-640 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 336px;
  width: 264.63px;
  height: 13px;
}
.26 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 245px;
  width: 264.63px;
  height: 14px;
}
.27 {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1547.21px;
  top: 503px;
  width: 239.57px;
  height: 14px;
}
.grafend {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 632px;
  width: 278.66px;
  height: 12.8px;
}
.f-upir {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 550px;
  width: 278.66px;
  height: 12.8px;
}
.dabol-valody {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 384px;
  width: 278.66px;
  height: 12.8px;
}
.k-ruto-y-ch-el {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 302px;
  width: 278.66px;
  height: 12.8px;
}
.to-pvanya-2010-top {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1546.2px;
  top: 212px;
  width: 278.66px;
  height: 13px;
}
._5-opka {
  color: #ffffff;
  text-align: left;
  font: 800 12px "Montserrat", sans-serif;
  position: absolute;
  left: 1547.21px;
  top: 467px;
  width: 278.66px;
  height: 13px;
}
.lucky-060 {
  color: #ffffff;
  text-align: left;
  font: 800 10px "Montserrat", sans-serif;
  position: absolute;
  left: 1547.21px;
  top: 724px;
  width: 67.16px;
  height: 12.8px;
}
.free-icon-user-1077063-1 {
  width: 40.1px;
  height: 41px;
  position: absolute;
  left: 1483.05px;
  top: 555px;
}
.free-icon-user-1077063-2 {
  width: 40.1px;
  height: 41px;
  position: absolute;
  left: 1483.05px;
  top: 388px;
}
.free-icon-user-1077063-3 {
  width: 40.1px;
  height: 41px;
  position: absolute;
  left: 1483.05px;
  top: 305px;
}
.free-icon-user-1077063-4 {
  width: 40.1px;
  height: 41px;
  position: absolute;
  left: 1483.05px;
  top: 215px;
}
.free-icon-man-user-74472-1 {
  width: 28.07px;
  height: 28.01px;
  position: absolute;
  left: 1772.74px;
  top: 104.05px;
}
.free-icon-arrowhead-thin-outline-to-the-left-32542-1 {
  width: 20.01px;
  height: 20.05px;
  position: absolute;
  left: 1836.9px;
  top: 54.03px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.free-icon-russia-6211549-1 {
  width: 46.11px;
  height: 51.03px;
  position: absolute;
  left: 1788.78px;
  top: 18.01px;
}
._1-d-759-d-8-e-1-b-9130-f-75584-bc-6-a-45767901-1 {
  border-radius: 8px;
  width: 54.13px;
  height: 54.03px;
  position: absolute;
  left: 1476.04px;
  top: 17.01px;
}
.28 {
  width: 346.69px;
  height: 412.21px;
  position: static;
}
.avatar-1 {
  border-radius: 8px;
  width: 54.13px;
  height: 54.14px;
  position: absolute;
  left: 1476.04px;
  top: 722px;
}
.image-5 {
  border-radius: 8px;
  width: 54.13px;
  height: 54px;
  position: absolute;
  left: 1476.04px;
  top: 632px;
}
.image-6 {
  border-radius: 8px;
  width: 54.13px;
  height: 54px;
  position: absolute;
  left: 1476.04px;
  top: 466px;
}
.rectangle-17 {
  background: #22252f;
  border-radius: 13px;
  width: 305.45px;
  height: 43.58px;
  position: absolute;
  left: 1491.15px;
  top: 834.63px;
}
.rectangle-18 {
  background: #3d3f48;
  border-radius: 6px;
  width: 45.21px;
  height: 43.58px;
  position: absolute;
  left: 1777.51px;
  top: 834.63px;
}
.29 {
  color: #a9a99d;
  text-align: left;
  font: 800 14px "Montserrat", sans-serif;
  position: absolute;
  left: 1504.1px;
  top: 851px;
  width: 188.9px;
  height: 13.87px;
}
.free-icon-send-message-3717583-1 {
  width: 28.13px;
  height: 27.73px;
  position: absolute;
  left: 1786.55px;
  top: 842.56px;
}
.image-7 {
  border-radius: 8px;
  width: 54px;
  height: 54px;
  position: absolute;
  left: 1476px;
  top: 388px;
}
